.container {
	margin: 20px;
	display: flex;
	flex-direction: column;
}

.chatsOnLeft {
	font-size: 22px;
	border: 2px solid red;
	border-radius: 20px;
	margin-top: 5px;
}

.chatsOnRight {
	font-size: 22px;
	border: 2px solid blue;
	border-radius: 20px;
	margin-top: 5px;
	align-self: flex-end;
}
