body {
	background: beige;
	color: #fff;
	margin: 0;
	box-sizing: border-box;
}

.container {
	margin: 10px;
	display: flex;
	flex-direction: column;
}

.chatsOnLeft {
	padding: 10px;
	font-size: 22px;
	border: 2px solid red;
	border-radius: 20px;
	margin-top: 5px;
	align-self: flex-start;
	background: lightsalmon;
}

.chatsOnRight {
	padding: 10px;
	font-size: 22px;
	border: 2px solid blue;
	border-radius: 20px;
	margin-top: 5px;
	align-self: flex-end;
	background: lightblue;
}

.heading {
	text-align: center;
	color: darkslategray;
}

.inputContainer {
	background-color: #dfeeff;
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.sendMessageInput {
	width: calc(100% - 45px);
	height: 45px;
	font-size: 22px;
	padding-left: 20px;
	border: 2px solid #c2c2cc;
	border-radius: 20px;
	/* box-sizing: border-box; */
}

.sendMessageInput:focus {
	outline: none;
}
